body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-image: url('https://i.pinimg.com/564x/e4/b8/af/e4b8afdeb42ed2be10166979f901d666.jpg');
   background-position: center;
   background-size: cover;
}
h1,h2{
    text-align: center;
    margin: 20px;
    text-decoration: underline;
    font-family: "Playpen Sans", cursive;
font-optical-sizing: auto;
font-size: 40px;
font-style: normal;
color: #000;
  
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
 border-radius: 50px;
  border: 2px solid #fff;  
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content img {
   width: 350px;
    height: auto;
    border-radius: 50px;
    border: 2px solid#fff;
}



.content:nth-child(odd) {
    flex-direction: row;
    
}

.content:nth-child(even) {
    flex-direction: row-reverse;
}



@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.text {
    max-width: 600px;
    
    padding: 10px;
    color: #000;
    text-align: center;
    font-family: "Playpen Sans", cursive;
font-optical-sizing: auto;

font-style: normal;
}
.short{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}
.first{
    
    margin: 25px;
    padding: 25px;
}
.second{
   
    margin: 25px;
    padding: 25px;
    
}
.third{
    
    margin: 25px;
    padding: 25px;
    
 
}
.fourth{
    
    margin: 25px;
    padding: 25px;
}
.fifth{
   
    margin: 25px;
    padding: 25px;
    

}
.sixth{
    
    margin: 25px;
    padding: 25px;
    
}
.seventh{
    
    margin: 25px;
    padding: 25px;

}