
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
            background-image: url('images/3GALLERY.jpeg');
          background-position: center;
        background-size: cover;
        }
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
           margin-left: 10px;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            width: 90vw;
            height: 90vh;
            overflow: hidden;
          
           
        }

        .card {
            position: relative;
            flex: 1;
            background-size: cover;
            background-position: center;
            transition: flex 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 10px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            text-align: center;
            border-radius: 50px;
            gap: 20px;
            border: 2px solid transparent;
         

        }

        .card:hover {
            flex: 4;
            font-size: 24px;
        }

        .card a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
            text-decoration: none;
            color: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Individual card images */
        .card-1 { background-image: url('images/bat.jpg'); }
        .card-2 { background-image: url('images/peacock.jpg'); }
        .card-3 { background-image: url('images/owl.jpg'); }
        .card-4 { background-image: url('images/toucan.jpg'); }
        .card-5 { background-image: url('images/eagle.jpg'); }
        .card-6 { background-image: url('images/seagull.jpg'); }
        .card-7 { background-image: url('images/duck.jpg'); }
        .card-8 { background-image: url('images/spoonbilled.jpg'); }
        .card-9 { background-image: url('images/imperialamazon.jpg'); }
        .card-10 { background-image: url('images/condor.jpg'); }
        .card-11 { background-image: url('images/balimyna.jpg'); }
        .card-12 { background-image: url('images/crane.jpg'); }
        .card-13 { background-image: url('images/helmetedhornbill.jpg'); }
        .card-14 { background-image: url('images/kritland.jpg'); }
        .card-15 { background-image: url('images/stork.jpg'); }

        /* Responsive Design */
        @media (max-width: 768px) {
            .gallery {
                flex-direction: column;
                height: auto;
            }
            .card {
                flex: 1;
                width: 100%;
            }
            .card:hover {
                flex: 2;
            }
        }
      
        #openNavBtn{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        
        .sidenav {
            height: 100%;
            width: 0;
            position: absolute;
            z-index: 1;
            
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            top:0;
        left: 0;        }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        #openNavBtn {
            font-size: 30px;
            cursor: pointer;
        }
   