* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('images/1GALLERY.jpeg');
    background-position: center;
    background-size: cover;
}  

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
   
    
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    margin-left: 10px;
}

.card {
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: flex 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 10px;
    text-shadow: 2px 2px 5px rgba(0,0 ,0 0.6);
    cursor: pointer;
    border-radius: 50px;
    gap: 20px;
    border: 2px solid transparent;
    margin-left: 2.5px;
    margin-right: 2.5px;

    
}



.card:hover {
    flex: 4;
    font-size: 20px;
    color: #fff;
}

.card a {
position: absolute;
   width: 100%;
height: 100%;
    text-decoration: none;

    color: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;
   left: 0;
   top: 0;
}
.card:hover a{
    font-size: 36px;
}

/* Individual card images */
.card-1 { background-image: url('images/foot.jpg'); }
.card-2 { background-image: url('images/hippo.jpg'); }
.card-3 { background-image: url('images/lion.jpg'); }
.card-4 { background-image: url('images/tiger.jpg'); }
.card-5 { background-image: url('images/kangaro.jpg'); }
.card-6 { background-image: url('images/zebra.jpg'); }
.card-7 { background-image: url('images/panther.jpg'); }
.card-8 { background-image: url('images/wolf.jpg'); }
.card-9 { background-image: url('images/elephant.jpg'); }
.card-10 { background-image: url('images/girrafe.jpg'); }
.card-11 { background-image: url('images/jackal.jpg'); }
.card-12 { background-image: url('images/bear.jpg'); }
.card-13 { background-image: url('images/leopard.jpg'); }
.card-14 { background-image: url('images/monkey.jpg'); }
.card-15 { background-image: url('images/hyena.jpg'); }

/* Responsive Design */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        height: auto;
    }
    .card {
        flex: 1;
        width: 100%;
    }
    .card:hover {
        flex: 2;
    }
}