body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: url('https://i.pinimg.com/474x/69/8c/7a/698c7ae4b67d19b622da1cbe9cc9a5dc.jpg');
    background-position: center;
    background-size: cover;
}

.quiz-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('https://i.pinimg.com/474x/39/ec/7e/39ec7e791c18fc7645ebebfa18d688bb.jpg');
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFF;
}

.question {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.choices {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.choices button {
    padding: 15px;
    font-size: 1.1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.choices button:hover {
    background-color:gray;
}

.next-button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 20px;
}

.result {
    font-size: 2em;
    margin-top: 20px;
}
.back{
    width: 80px;
    height: 30px;
    background-color: yellowgreen;
    color: #f4f4f4;
    border-radius: 20px;
}
.back:hover{
    transform: scale(1.2);
}